body {
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
h1 {
    font-weight: bold;
    font-family: sans-serif;
}

.cuadrados_azules {
    width: 70px;
    height: 70px;
    background-color: #3498db;
    margin: 8px;
    display: inline-block;
    border-radius: 15%;
}

.numero-cuadrado {
    color: black;
    width: center;
    height: center;
    font-weight: bold;
    font-family: sans-serif;
}

.marco {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 420px;
    border: 2px solid #3498db;
    border-radius: 2%;
}

p {
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
}

input {
    background-color: #A9A9A9;
    color: white;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4%;
    margin: 2px;
    border-bottom: 2px solid #3498db;
}

button {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    width: 85%;
    padding: 10px;
    border: none;
    border-radius: 4%;
    margin: 5px;
}

button:hover{
    background-color: #1f6ea3;
}

#resultado-intento {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 46%;
    padding: 3px;
    border: none;
    display: inline-block;
    margin: 5px;
    border-radius: 2%;
}

.cuadrados_grises {
    display: flex
}