#icono{
    background-color: aqua;
}
img{
    margin-left: 40%;
    display: block;
    width: 30%;
    height: 30%;
    padding: 4%;
}
#enlaces{
    margin-left: 40%;
    display: block;
    width: 30%;
    height: 30%;
    padding: 4%;
}