#icono{
    background-color: #0A91AB;
}
img{
    display: block;
    width: 100%;
    height: 50%;
    padding: 4px;
}
#apartados{
    background-color: #FFC045;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    font-weight: bold;
}
#apartado{
    padding: 1%;
    margin: 1%;
}
#titulos{
    color: rgb(67, 179, 179);
    padding-top: 1%;
    font-weight: bold;
}
#portadas{
    border-color: #FFC045;
    border-style: dotted;
    padding: 2%;
    width: 300px;
    height: auto;
    margin: 4%;
}
#portadas-capsula{
    border-color: #000;
    background-color: #0A90AB25;
    border-style: dotted;
    padding: 2%;
    width: 300px;
    height: auto;
    margin: 4%;
}
#fotoportadas1{
	width: auto;
    height: auto;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
#fotoportadas2{
	width: 100%;
    height: auto;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
#fotoportadas3{
	width: 100%;
    height: auto;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
#fotoportadas3{
	width: 100%;
    height: auto;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
#fotoportadas5{
	width: 100%;
    height: auto;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
#fotoportadas6{
	width: 100%;
    height: auto;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
#videojuego{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#boton-caja{
    padding: 10px 20px;
    background-color: #FFC045;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#boton-caja:hover{
    background-color: #ccc;
}














#portadas-listado{
    border-color: #FFC045;
    border-style: dotted;
    padding: 2%;
    width: 380px;
    height: 520px;
    margin: 4%;
}
#especificaciones{
    color:seagreen;
    padding-top: 1%;
    font-weight: bold;
}









#container {
    text-align: center;
}

#contact-container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#h1 {
    text-align: center;
    color: #333;
}

#form {
    margin-top: 20px;
}

#label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button_hover {
    background-color: #0056b3;
}
