#icono{
    background-color: #0A91AB;
}
img{
    margin-left: 40%;
    display: block;
    width: 30%;
    height: 30%;
    padding: 4px;
}
#apartados{
    background-color: #FFC045;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    font-weight: bold;
}
#apartado{
    padding: 1%;
    margin: 1%;
}
#titulos{
    color: rgb(67, 179, 179);
    padding-top: 1%;
    font-weight: bold;
}
#portadas{
    border-color: #FFC045;
    border-style: dotted;
    padding: 0%;
    width: 320px;
    height: 380px;
    margin: 1%;
    

}
#fotoportadas{
    height: 100px;
    width: 100%;
    border-radius: 5%
    margin: 1%;
    padding: 0%;
}